<%= form_for @task, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :body, :class => 'control-label', :style => 'margin-left: 0; width: 100px;' %>
    <div class="controls" style="margin-left: 120px;">
      <%= f.text_field :body, :style => "min-width: 125px; width: 0;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :finished, :class => 'control-label', :style => 'margin-left: 0; width: 100px;' %>
    <div class="controls" style="margin-left: 120px;">
      <%= f.check_box :finished %>
    </div>
  </div>
  <div class="control-group">
    <div class="inline" style="margin-left: 50px;">
      <%= f.submit "New Task", :class => 'btn btn-lrg btn-primary', :style => "margin-right: 70px;" %>
      <%= link_to 'Cancel', root_path, :class => 'btn btn-inverse', :style => "color: white;" %>
    </div>
  </div>
<% end %>
