<!DOCTYPE html>
<html>
<head>
  	<title>Todo</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>

<div class="hero-unit" style="margin: 30px;">
	<% flash().each do |key, msg| %>
	  <div class="alert alert-<%= key %> fade in">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	    <span style="color: white;"><%= msg %></span>
	  </div>
	<% end %>

	<%= yield %>
</div>

</body>
</html>
